.Header
  img(src="images/logo2.png" alt="Space Odyssey - Logo").Header-pic  
  .Grid
    .Grid-col.Grid-col--2
      a.Header-logo(href="index.html")
        | Space Odyssey
    .Grid-col.Grid-col--10.Header-navigation
        a(href="activity.html") Notre activité
        a(href="group.html") Le groupe
        a(href="press.html") Dossier presse
        a(href="info.html") Nos engagements
        a(href="contact.html") Nous contacter
