.Header
  img(src="images/logo2.png" alt="Space Odyssey - Logo").Header-pic  
  .Grid
    .Grid-col.Grid-col--5
    .Grid-col.Grid-col--2
      a.Header-logo(href="index.html")
        | Space Odyssey
    .Grid-col.Grid-col--5
      p.Header-navigation
        |Dossier de presse