#content
  #content--text
    p
      | à la conquête de l’espace
  #content--subtext
    p
      | Chaque jour nous envoyons des millions d’humains dans l’espace 
      |nOTRE MISSION : créer pour vous les horizons de demain
      |et vous accompagner pour votre propre aventure interstellaire
  #content--links
    #content--links__history
      img(src='http://fakeimg.pl/220x220/?text=Notre histoire')
    #content--links__destination
      img(src='http://fakeimg.pl/220x220/?text=Notre destination')
    #content--links__equipment
      img(src='http://fakeimg.pl/220x220/?text=Nos équipements')
