#content
  #content--text
    p
      | à la conquête de l’espace
  #content--subtext
    p
      | Chaque jour nous envoyons des millions d’humains dans l’espace 
      |nOTRE MISSION : créer pour vous les horizons de demain
      |et vous accompagner pour votre propre aventure interstellaire
  #content--links
    #content--links__history
      |abc
    #content--links__destination
      |abc
    #content--links__equipment
      |abc
