.footer
  .footer--social
    .follow
      p
        | Suivez-nous
    img(src='http://fakeimg.pl/40x40')
    img(src='http://fakeimg.pl/40x40')
    img(src='http://fakeimg.pl/40x40')
    img(src='http://fakeimg.pl/40x40')
  .footer--copyright
    p
      | Copyright © 2042 Space Odyssey. All Rights Reserved.