.header
  .header--title
    h1
      a(href='index.html') Space Odyssey
  .header--subtitle
    p
      | Voyagez à la belle étoile...
  .header--nav__left
    ul.nav-left
      li.nav
        a(href='activite.html') Notre activité
      li.nav
        a(href='contact.html') Nous contacter
  .header--logo
    img(src='images/logo.png' id='logo' alt="logo")
  .header--nav__right
    ul.nav-right
      li.nav
        a(href='groupe.html') Le groupe
      li.nav
        a(href='press.html') Dossier presse
      li.nav
        a(href='faq.html') FAQ
