.header
  .header--title
    h1
      a(href='index.html') Space Odyssey
  .header--subtitle
    p
      | Voyagez à la belle étoile...
  .header--nav__left
    ul
      li
        a(href='activite.html') Notre activité 
      li
        &nbsp|&nbsp
      li
        a(href='contact.html') Nous contacter
  .header--logo
    img(src='http://i.imgur.com/pXRXLQB.png' id='logo')
  .header--nav__right
    ul
      li
        a(href='groupe.html') Le groupe
      li
        &nbsp|&nbsp
      li
        a(href='press.html') Dossier presse
      li
        &nbsp|&nbsp
      li
        a(href='faq.html') FAQ