#header
  #header--title
    h1
      a(href='#') Space Odyssey
  #header--subtitle
    p
      | Voyagez à la belle étoile...
  #header--nav__left
    ul
      li
        a(href='#') Notre activité 
      li
        &nbsp|&nbsp
      li
        a(href='#') Nous contacter
  #header--logo
    img(src='http://i.imgur.com/pXRXLQB.png' id='logo')
  #header--nav__right
    ul
      li
        a(href='#') Le groupe
      li
        &nbsp|&nbsp
      li
        a(href='#') Dossier presse
      li
        &nbsp|&nbsp
      li
        a(href='#') FAQ
