.content
  .content--text
    p
      |À la conquête de l’espace
  .content--subtext
    p
      |Chaque jour nous envoyons des millions d’humains dans l’espace 
      |NOTRE MISSION : créer pour l'homme les horizons de demain
      |et l'accompagner dans sa propre aventure interstellaire
  .grid-selector
    .col
      .content--links
        img(src="http://fakeimg.pl/100" alt="placeholder")
        p
          |LOREM IPSUM
    .col
      .content--links
        img(src="http://fakeimg.pl/100" alt="placeholder")
        p
          |LOREM IPSUM
    .col
      .content--links
        img(src="http://fakeimg.pl/100" alt="placeholder")
        p
          |LOREM IPSUM
