.content
  .content--text
    h1
      |NEWSLETTER
  .content--subtext
    p.
      La Newsletter officielle du groupe Space Odyssey, à l'attention de ses membres et de ses actionnaires.
  .news.news1
    h2 Les chiffres du groupe, bonnes nouvelles.
    p.
      Le groupe <strong>SPACE ODYSSEY</strong> est fier d'annoncer que ses profits ont augmenté de 25% au cours du dernier trimestre et le cours de son action est également en forte hausse. Ces chiffres sont encourageants pour le groupe <strong>SPACE ODYSSEY</strong> car ils sont la preuve d'une confiance toujours plus grande envers ses services de la part de ses clients. Cependant, le groupe ne s'arrêtera pas en si bon chemin et continuera à s'élargir par la qualité de son service et grâce aux investissements de ses nombreux partenaires commerciaux. <strong>SPACE ODYSSEY</strong> se pose ainsi en partenaire du futur.
  .news.news2
    h2 De nouveaux vaisseaux, la marque d'une entreprise qui décolle ! 
    p.
      Le groupe <strong>SPACE ODYSSEY</strong> a également pris la décision d'élargir sa flotte de véhicules trans-spatiaux et d'ajouter deux nouveaux modèles de vaisseaux à la disposition de ses clients. Les vaisseaux en question sont les modèles <em>TARDIS</em> et <em>Enterprise</em>. Ils rejoignent ainsi les navettes de type Imperial et Heart of Gold dans la catégorie "Première Classe". Ces nouveaux vaisseaux assurent aux clients de <strong>SPACE ODYSSEY</strong> le meilleur du confort de vol allié au style rétro-futuriste si caractéristique des vaisseaux de la flotte de <strong>SPACE ODYSSEY</strong>. Plus d'informations sont disponibles sur notre page <a href="../equipement.html">"Équipement"</a>.
  .news.news3
    h2 Des liaisons commerciales plus cordiales.
    p.
      Comme vous avez pu le remarquer, l'acquisition du groupe FedEx par <strong>SPACE ODYSSEY</strong> il y a quelques mois a été mal interprétée par la <a href="../press.html">presse</a>. Heureusement, ceci est maintenant réparé et le groupe a ainsi conclu avec succès des accords commerciaux avec d'autres transporteurs, faisant donc de <strong>SPACE ODYSSEY</strong> le premier prestataire de services de livraison de l'univers connu. Plus de <em>300 millions</em> de colis transitent ainsi sur les cargos de <strong>SPACE ODYSSEY</strong> chaque jour, ce qui représente une montée de 65% depuis l'an dernier. La liste complète des partenaires reste toujours disponible en vous rendant sur la page dédiée : <a href="../partenaires.html">"Partenaires".</a>
  .news.news4
    h2 Des destinations toujours plus nombreuses !
    .imgblck
      img(src="http://img1.wikia.nocookie.net/__cb20130716202542/docteurwho/images/d/d5/GallifreyReturns-1-.jpg" width="150") 
    p.
      Le groupe <strong>SPACE ODYSSEY</strong> vous informe également que les négociations concernant l'ouverture de nos nouvelles destinations, les planètes <strong>Gallifrey</strong> (représentée ci-contre) et <strong>Trenzalore</strong>, est un succès. Ces deux planètes sont des destinations touristiques très appréciées et faciliter leur accès en ligne directe et sans escale renforce l'image de marque du groupe <strong>SPACE ODYSSEY</strong> auprès du public et fait de lui le choix numéro 1 pour des solutions de transport aussi bien professionnelles que pour les loisirs des particuliers. Les lignes vers les autres planètes restent également ouvertes avec Mars toujours aussi bien placée dans les <a href="../destinations.html">destinations</a> préférées des clients de <strong>SPACE ODYSSEY</strong>.
  .news.news5
    h2 Une toute nouvelle charte graphique pour le site de Space Odyssey !
    p.
      Vous l'aurez remarqué en lisant cette Newsletter, le site du groupe <strong>SPACE ODYSSEY</strong> s'est fait offrir un ravalement de façade et une toute nouvelle charte graphique. Pour cela, le groupe a fait appel aux prestations de <a href="dizwix.github.io"><em>Dizwix Exergue</em></a>, une jeune agence web Parisienne. La jeunesse fait partie intégrante de l'ADN de <strong>SPACE ODYSSEY</strong> et c'est pour cela qu'un rafraichissement de l'interface graphique du site de <strong>SPACE ODYSSEY</strong> était devenue nécessaire. Les retours sur cette mise à jour sont très bons et le groupe espère pouvoir encore faire appel aux services de cette agence à l'avenir.
    br