extends ./layouts/main.jade
append title 
  title
    |Space Odyssey - Notre activité
append contenu
  .content
    .content--text
      p
        |Notre activité
      br
    .content--subtext-secondary
      p.
        Cupcake ipsum dolor sit amet. Caramels tiramisu carrot cake cotton candy bear claw candy canes. Oat cake chupa chups jujubes gummies. Danish bear claw bonbon. Donut icing pastry pastry apple pie sugar plum ice cream. Jujubes tootsie roll jelly beans oat cake liquorice carrot cake pudding croissant. Tiramisu biscuit sweet roll cupcake pastry. Sweet chocolate bar candy canes muffin. Lollipop ice cream candy canes chocolate chupa chups jelly sesame snaps dessert cotton candy. Powder gingerbread lollipop lemon drops chocolate cake tiramisu icing. Oat cake bear claw jelly-o toffee. Dragée lollipop toffee pie. Toffee tootsie roll icing.
 