extends ../layouts/main.jade

append showcase
  +Showcase(homepage.showcase)

append content
  .Grid
    .Grid-col.Grid-col--8.Introduction
      h2.Introduction-title
        span Nous contacter
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text
            |Vous avez besoin de nous contacter ? Vous rencontrez des difficultés pour accéder à nos rubriques ? N’hésitez pas à nous poser des questions à propos de Space Odyssey. Nous avons une page FAQ à votre disposition pour toutes les questions principales. Vous n’avez toujours pas trouvé votre réponse ? Vous pouvez contacter nos équipes par téléphone au +33 1 44 05 16 32, 7j/7, 24h/24.
    .Grid-col.Grid-col--4
      h2.Introduction-title
         |Mailbox
      form(action="#" method="get").Contact-form#formu
        input(type="text")#prenom
        br
        input(type="text")#nom
        br
        input(type="text")#mail
        br
        textarea(rows="5" cols="50")#commentaire
        br
        input(type="submit" name="Envoyer" value="Envoyer" class="Button" id="button")