extends ./layouts/main.jade
append title
  title
    |Space Odyssey - Les formations
append contenu
  .content
    .content--text
      p
        |Les formations
      br
    .content--subtext-tertiary
      .subtext-tertiary
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero lorem, feugiat quis lorem a, posuere porttitor purus. Vivamus varius ac leo id facilisis. Ut sed nulla at mauris ornare semper nec quis mi. Donec molestie dolor at augue consequat, ac commodo diam consequat. Quisque rutrum interdum aliquet. Nunc ut blandit sapien. Suspendisse dapibus blandit sapien ut adipiscing. Nulla ut elit non enim pharetra euismod quis et dolor. Donec eu leo sodales velit interdum laoreet eget eu eros. Integer lobortis mi sit amet nulla pharetra laoreet. Vivamus tincidunt dolor leo, ut mattis lorem tempor id. Nunc tempor sagittis diam in consectetur. Fusce quis ultrices arcu. Integer vulputate felis vitae nulla vestibulum pellentesque at eget tortor. Etiam elit metus, sodales imperdiet dolor at, ultricies condimentum lorem.
          br
          br
          |Nullam eleifend erat non lorem pretium, eget vestibulum lorem gravida. Morbi condimentum odio nisl, at pellentesque magna tincidunt a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus placerat condimentum nibh. Suspendisse potenti. Praesent enim enim, porta et tincidunt vel, condimentum eu tortor. Praesent cursus ante sit amet ipsum tincidunt, imperdiet vehicula arcu rutrum. Fusce eros lacus, porta eget ultricies quis, aliquam et felis.
      .subtext-tertiary
        form.subtext-form
          label Pour recevoir votre bulletin d'informations ou d'inscription, veuillez remplir le formulaire
            input(type="text" name="fname" value="Prénom")
            br
            input(type="text" name="lname" value="Nom")
            br
            input(type="email" name="mail" value="e-mail")
            br
            input(type="text" name="adress" value="Adresse")
            br
            input(type="text" name="city" value="Ville")
            br
            input(type="text" name="planet" value="Planète")
            br
            |Bulletin d'information:
            input(type="radio" name="info" value="")
            br
            |Bulletin d'inscription:
            input(type="radio" name="subscribe" value="")
            br
            button(type="button") Valider
