extends ./layouts/main.jade
append title
  title
    |Space Odyssey - Le groupe
append contenu
  .content
    .content--text
      p
        |Le groupe
      br
    .content--subtext-secondary
      p
        |Précurseurs en matières de voyage touristique dans l’espace, notre concept a été construit autour de la réussite de la mission Mars One. Notre concept innovateur propose à nos clients une multitude de voyage dans l’espace comprenant aussi des croisières inter-sidérale et des missions expéditions sur des planètes non-habitée.
        br
        br
        |Space Odyssey c’est l’assurance d’un voyage dans l’espace sans problème de sécurité. Toutes nos équipes sont compétentes dans leurs domaines de prédilections, ne vous faites plus de soucis, Space Odyssey s’en fait pour vous. Space Odyssey c’est aussi des milliers de rencontres et d’évènements culturels organisés par nos équipes dans l’espace. Des sorties en combinaisons spatiales dans l’océan inter-galactiques et la découverte de nouvelles formes de vie sont les activités les plus populaires de nos offres de voyage.
    .content--subtext-tertiary
      .subtext-tertiary
        h3 Space Odyssey en quelques chiffres
        p
          |En 2042, nous avons réalisé :
          ul
            li un chiffre d’affaires de 75 milliards d’euros
            li un bénéfice net de 18 milliards d’euros

        h3 Space Odyssey c’est :
        ul
          li 12 800 collaborateurs à travers la galaxie
          li 12 millions de clients
          li 7258 engins spatiaux (navette, utilitaire spatiale...)
          li 224 spatio-ports éparpillés dans la galaxie
          li 3,8 millions d’adhérents à l’horizon 2042
      .subtext-tertiary
        h3 Space Odyssey en quelques chiffres
        p
          |En 2042, nous avons réalisé :
          ul
            li un chiffre d’affaires de 75 milliards d’euros
            li un bénéfice net de 18 milliards d’euros

        h3 Space Odyssey c’est :
        ul
          li 12 800 collaborateurs à travers la galaxie
          li 12 millions de clients
          li 7258 engins spatiaux (navette, utilitaire spatiale...)
          li 224 spatio-ports éparpillés dans la galaxie
          li 3,8 millions d’adhérents à l’horizon 2042
