extends ../layouts/main.jade

append showcase
  +Showcase(homepage.showcase)

append content
  .Grid
    .Grid-col.Grid-col--8.Introduction
      h2.Introduction-title
        | Le groupe
        span Space Odyssey
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text.
            Précurseurs en matière de voyage touristique dans l’espace, notre concept a été construit autour de la réussite de la mission Mars One. Notre concept innovateur propose à nos clients une multitude de voyage dans l’espace comprenant aussi des croisières intersidérale et des missions expéditions sur des planètes non-habitées.Space Odyssey c’est l’assurance d’un voyage dans l’espace sans problème de sécurité.
        li.Introduction-item
          p.Introduction-text.
            Toutes nos équipes sont compétentes dans leurs domaines de prédilections, ne vous faites plus de soucis, Space Odyssey s’en fait pour vous. Space Odyssey c’est aussi des milliers de rencontres et d’évènements culturels organisés par nos équipes dans l’espace. Des sorties en combinaisons spatiales dans l’océan intergalactiques et la découverte de nouvelles formes de vie sont les activités les plus populaires de nos offres de voyage. Space Odyssey en quelques chiffres
        li.Introduction-item
          p.Introduction-text
            |En 2042, nous avons réalisé :-un chiffre d’affaires de 75 milliards d’euros, un bénéfice net de 18 milliards d’euros. Space Odyssey c’est :
            ul
              li 12 800 collaborateurs à travers la galaxie 
              li 12 millions de clients 
              li 7258 engins spatiaux (navette, utilitaire spatiale...)
              li 224 spatio-ports éparpillés dans la galaxie 
              li 3,8 millions d’adhérents à l’horizon 2042
        li.Introduction-item
          p.Introduction-text
            |Gros plan sur Space Odyssey :
            ul
             li 82 offres de voyages inter-galactiques
             li 13 offres de croisières spatiales
             li la première agence spatiale dans le monde
             li plus de 10 nouvelles offres de voyages par an
             li Une entreprise éco-responsable : Nous sommes engagés dans la sauvegarde de l’humanité et dans l’écologie spatiale depuis plus de 10 ans. Tous nos équipements (navette, spatio-port...) ont été conçus pour dégrader le moins possible le paysage galactique.
