extends ../layouts/main.jade

append showcase
  +Showcase(homepage.showcase)

append tiles
  +tiles(homepage.tiles)

append content
  .Grid.js-Tile#history
    .Grid-col.Grid-col--8.Introduction
      h2.Introduction-title
        | Notre
        span histoire
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text.
            Cupcake ipsum dolor sit amet apple pie carrot cake bear claw. Gummi bears danish sweet roll I love. Cupcake soufflé icing brownie fruitcake chocolate bar powder lollipop. Gingerbread tart I love. Chupa chups I love toffee brownie muffin. Icing I love candy I love applicake. I love chocolate chupa chups bonbon candy canes. Cheesecake sweet fruitcake carrot cake donut biscuit tiramisu sugar plum. Pudding I love chocolate cake gummies tootsie roll candy I love cake.
        li.Introduction-item
          p.Introduction-text.
            Cupcake ipsum dolor sit amet apple pie carrot cake bear claw. Gummi bears danish sweet roll I love. Cupcake soufflé icing brownie fruitcake chocolate bar powder lollipop. Gingerbread tart I love. Chupa chups I love toffee brownie muffin. Icing I love candy I love applicake. I love chocolate chupa chups bonbon candy canes. Cheesecake sweet fruitcake carrot cake donut biscuit tiramisu sugar plum. Pudding I love chocolate cake gummies tootsie roll candy I love cake.
  .Grid.js-Tile#partners
    .Grid-col.Grid-col--8.Introduction
      h2.Introduction-title
        | Nos
        span partenaires
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text.
            Sodexo: Cette entreprise mondialement connu dans le domaine de l’agro-alimentaire et la grande distribution, nous a offert depuis quelques années leurs compétences. Nous permettant ainsi de mettre à disposition des voyageurs et des entreprises utilisant nos services, des repas de qualité et repondant aux normes XXXX.
        li.Introduction-item
          p.Introduction-text.
            International space agency: Tout d’abord concurrent premier de Space Odyssey, International space agency est ensuite devenu un collaborateur inestimable dont nous ne pouvons plus nous à l’heure d’aujourd’hui. Ils se sont ensuites spécialisés dans la création et la gestion des points relais qui nous permettent d’assurer les differentes correspondances dont certains longs trajets ont besoin.
        li.Introduction-item
          p.Introduction-text.
            Ecospace: C’est une filiale de greenpeace, Ecospace est là depuis nos débuts. Ils nous ont aidé à comprendre l’interêt d’un espace propre. En seulement une dizaine d’année, ce partenariat fut l’un des plus fructueux de notre histoire. Grâce à cette entente, nous avons pu développer des systèmes de recupération et de traitement des déchets spatiaux. Nos recherches nous ont aussi permis de découvrir le carburant le moins polluants au monde.
            Ecospace et Space Odyssey, une collaboration qui n’est pas prêt de s’arrêter.
  .Grid.js-Tile#equipment
    .Grid-col.Grid-col--8.Introduction
      h2.Introduction-title
        | Nos
        span engagements
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text.
            Space Odyssey s’engage à permettre au plus grand nombre l’émerveillement spatial grâce à une offre “low-cost” permettant aux personnes ayant des revenus plus modestes de prendre part à l’aventure galactique.
            Enfin, car nos voyages interstellaires doivent être uniques pour vous, nous ajustons nos itinéraires pour vous faire découvrir les endroits les plus merveilleux de notre univers.
        li.Introduction-item
          p.Introduction-text.
            Par ailleurs, l’environnement est l’un de nos principales pré-occupations. Après des débuts catastrophiques dans le domaine de l’aéropatiale au cours de l’histoire humaine, nos chercheurs ont su développer des technologies révolutionnaires. Cette technologie permet la réduction de CO2 à un taux proche de 0.
        li.Introduction-item
          p.Introduction-text.
            La proprété de l’espace, un but en soit. Avec nos nombreux partenaires nous avons participé à la création de recycleurs. Ces derniers récupèrent tous les débris résultants de l’entrée ou la sortie de l’atmosphère, les sondes et satellites devenus obselètes avec le temps. Matériaux qui sont par la suite recyclés et réutilisés pour la construction de nos vaisseaux.  Non seulement dans un soucis de proprété mais aussi pour assurer une sécurité optimale.