extends ../layouts/mainpress.jade

append content
  .Grid
    .Grid-col.Grid-col--10.Introduction
      h2.Introduction-title
        |Annonce de 
        span Space Odyssey Co. Ltd.
      .Introduction-title
        h4 Mise en route des nouveaux vaisseaux Tyranosaurus_#R3K7 
      .Introduction-text
        | <em>Space Odyssey Co. Ltd.</em> (NASDAQ: SPOD) a annoncé le 135 Décat 2X3R la disponibilité totale à compter de ce jour des vaisseaux de catégorie Ɛ <em>(epsilon)</em>, dénominatif <em>Tyranosaurus_#R3K7</em> pour les longs courriers dans les secteurs suivants : 
        img(src="http://img1.wikia.nocookie.net/__cb20100616093754/metroid/images/f/ff/Mom_bottleship.jpg" width="300")
        ul
          li Corneria
          li Zéta
          li Anterra
          li Zébès
          li SR388
          li Tallon IV
          li Æon
          li Midgar
        | Ce modèle est le dernier des croiseurs spatiaux des usines <em>TRNSRS</em>. Il fournira aux clients de <em>Space Odyssey Co. Ltd.</em> un service que <em>TRNSRS</em> décrit "de la plus haute qualité". 
        | "Nous sommes très fiers de compter <em>TRNSRS</em> dans nos plus fidèles partenaires commerciaux" a déclaré D.W.X, le PDG de <em>Space Odyssey Co. Ltd.</em>
        .Introduction-title
          | À propos de <em>Space Odyssey Co. Ltd.</em>
        .Introduction-text
          |Fondée en 2037, <em>Space Odyssey Co. Ltd.</em> est leader des agences de voyages spatiaux dans tout le quadrant Sigma. Son chiffre d'affaires pour l'an 2141 fut estimé à 47 Pentabillions de Zéni (47*10^14z).
        .Introduction-title
          | À propos de <em>TRNSRS</em> Industries
        .Introduction-text
          |Fondé en 2079, <em>TRNSRS</em> Industries (Tyranosaurus Industries) est un fabriquant de véhicules spatiaux. Aujourd'hui symbole du luxe et se spécialisant dans les vaisseaux de croisière, il est l'un des principaux partenaires de <em>Space Odyssey Co. Ltd.</em>
        .Introduction-title
          |Contact 
        .Introduction-text
          a(href="mailto:pressrelations@spaceodyssey.spc") 
            em Mail
            | : pressrelations@spaceodyssey.spc
          br
          a(href="tel:0X15FJN9!965432") 
            em Téléphone
            | : 0X15FJN9!965432

    .Grid-col.Grid-col--2.Introduction
      h4.Introduction-title
        | Nébulon Zéta, le 135 Décat 2X3R