doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset='utf-8')
    block title
    block seo
    link(rel='stylesheet' href='./styles/style.css')
  body
    include ../partials/header
    block contenu
    include ../partials/footer