.Header
  background: #2b3470
  background: linear-gradient(to bottom, #2D3E52 + 10%, #2D3E52)
  color: #fff
  padding: 1em 0
  .Grid-col
    vertical-align: middle

.Header-pic
  height: 60px
  width: 60px
  position: absolute
  left: 5em
  top: .5em

.Header-logo
  color: #fff
  text-decoration: none
  font-size: 1.5em
  font-family: Track
  text-align: center

.Header-navigation
  text-align: right
  text-transform: uppercase
  a
    color#fff
    text-decoration: none
    display: inline-block
    vertical-align: middle
    padding: .5em 1em
    border-radius: .3em
    transition: .3s ease-in-out background-color
    &:hover
    &:focus
      background: rgba(#000, .2)
