@font-face{
  font-family: Track;
  src: local(Track), url('fonts/Track.ttf') format('opentype');
}

html{
  background-color: white;
}

body{
  background-color: #dbdbdb;
  font-family: Track;
  color: black;
  text-decoration: none;
  width: 1020px;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  padding: 0;
}

li{
  display: inline-block;
  text-decoration: none;
}

#header{
position: relative;
display: inline-block;
vertical-align: bottom;
}

#header--title{
  font-size: 1.6em;
  width: 960px;
  margin-left: 30px;
  display: block;
}

#header--subtitle{
  font-size: 1.1em;
  margin-top: -2.3em;
  width: 960px;
  margin-left: 30px;
  margin-right: auto;
}


#header--nav__left{
  display: inline-block;
  width: 320px;
  margin-left: 30px;
}

#header--logo{
  display: inline-block;
  width: 185px;
  position: absolute;
  left: 100%;
  margin-left: -603px;
  vertical-align: bottom;
}

#header--nav__right{
  display: inline-block;
  width: 320px;
  margin-right: 30px;
}

#content{
  width: 960px;
  height: 670px;
  display: block;
  margin: 60px auto;
  background-image: url(http://i.imgur.com/qeaWvMu.png);
  color: white;
}

#content--text p{
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: 120px;
}

#content--links__history{
  width: 220px;
  margin-left: 80px;
  margin-right: 20px;
  display: inline-block;
} 

#content--links__destination{
  width: 220px;
  margin: 0 20px;
  display: inline-block;
} 

#content--links__equipment{
  width: 220px;
  margin-right: 80px;
  margin-left: 20px;
  display: inline-block;
} 