@font-face{
  font-family: Track;
  src: local(Track), url('fonts/Track.ttf') format('opentype');
}

body{
  background-color: #dbdbdb;
  font-family: Track;
  color: black;
  text-decoration: none;
  width: 1020px;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

li{
  display: inline-block;
  text-decoration: none;
}

#header{

}

#header--title{
  font-size: 1.6em;
  width: 960px;
  margin: auto;
}

#header--subtitle{
  font-size: 1.1em;
  margin-top: -2.3em;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#header--logo{
  display: inline-block;
  margin: auto
}

ul{
  display: inline-block;
}