@font-face{
    font-family: Track;
    src: local(Track), url('fonts/Track.ttf') format('opentype');
}

body{
 background-color: #dbdbdb;
}

a{
  text-decoration: none;
  color: black;
}

li{
  display: inline-block;
  text-decoration: none;
}

#header{
  font-family: Track;
  color: black;
  text-decoration: none;
}

#header--title{
  font-size: 24pt;
}

#header--subtitle{
  font-size: 1.38em;
  margin-top: -2.4em;
}

img{
  display: inline;
}

ul{display: inline;}